
p {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
}

pre {
  max-width: 80%;
  background-color: #ddd;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 22px;
}

code {
  background-color: #ddd;
  color: #666;
  padding: 2px;
}

/* toc */
ul.toc-ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  list-style-type: none;
}
li > ul.toc-ul {
  padding-left: 10px;
}
a.toc-link {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  display: block;
  padding: 3px;
}
a:hover.toc-link {
  background-color: #ddd;
}