.article a {
  color: #c79100;
}

.article p {
  white-space:pre-wrap;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
}

pre {
  max-width: 80%;
  background-color: #ddd;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 22px;
}

code {
  background-color: #ddd;
  color: #666;
  padding: 2px;
}

/* table */
table {
  border-spacing: 0px;
}
thead {
  background-color: #ccc;
}
tbody {
  background-color: #eee;
}
th, td {
  padding: 5px;
}

/* toc */
ul.toc-ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  list-style-type: none;
}
li > ul.toc-ul {
  padding-left: 10px;
}
a.toc-link {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  display: block;
  padding: 3px;
}
a:hover.toc-link {
  background-color: #ddd;
}